@* @using WeddingGiftTrackerClassLibrary
@using WeddingGiftTrackerAPI
@inject HttpClient Http
@inject GiftService gs
<h3>Gifts</h3>

@code {
    private IEnumerable<GiftDTO> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<IEnumerable<WeatherForecast>>("https://localhost:5001/api/forecast");
        //  forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
} *@
