@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

Welcome

<button @onclick="(() => ShowDialog())">Click me!</button>

<form class = "dialog-body">
    Hello
</form>

<div class="dialog-button">

<button onclick="OnCancel">Cancel</button>
    
</div>

@if(showingDialog)
{
    <ConfigureDialog
        oncancel="CancelDialog()"/>
        
}


@code 
{
    bool showingDialog;

    void ShowDialog()
    {

        showingDialog = true;
    }

    void CancelDialog()
    {
        showingDialog = false;
    }
}
